.root {
  max-width: 600px;
  margin: 0 auto;
  min-width: 320px;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
}

.gameStep {
  transition: transform .8s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  max-width: 600px;
  min-width: 320px;
  transform: rotateY(180deg) translateY(-50%);
  max-height: 100%;
  overflow: auto;
  top: 50%;
  background-color: #ffffff;
  width: 100%;
  padding: 0;
  text-align: center;
  height: 100%;
}

.gameStep.active {
  transform: rotateY(0) translateY(-50%);
}

